{% extends 'blog/base.html' %}

{% block content %}
  <h1 class="page-header">
    Page Heading
    <small>Secondary Text</small>
  </h1>

  {% for post in posts %}
    <!-- First Blog Post -->
    <h2>
      <a href="{% url 'post' id=post.title %}">{{ post.title }}</a>
    </h2>
    <p class="lead">
      by <a>{{ post.user }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date}}</p>
    <hr>

    <!-- Display Poster Image -->
    <img class="img-responsive" src="{{ post.poster.url }}" alt="">

    <hr>

    <p>{{ post.content|truncatewords:10 }}</p>
    <p>Tags:
      {% for t in post.tag.all %}
        <a href="{% url 'post' id=post.title %}">
          <span>{{ t.tag }}</span>
        </a>
      {% endfor %}
    </p>

    <a class="btn btn-primary" href="{% url 'post' id=post.title %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
  {% endfor %}

  <!-- Pager -->
  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Older</a>
    </li>
    <li class="next">
      <a href="#">Newer &rarr;</a>
    </li>
  </ul>
{% endblock %}
