{% extends 'blog/base.html' %}

{% block content %}

  <h1>User Registration</h1>

  <form method="post" action="{% url 'registration_user' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_username">Username:</label>
      {{ form.username }}
    </div>

    <div class="form-group">
      <label for="id_email">Email:</label>
      {{ form.email }}
    </div>

    <div class="form-group">
      <label for="id_password">Password:</label>
      {{ form.password1 }}
    </div>

    <div class="form-group">
      <label for="id_confirm_password">Confirm Password:</label>
      {{ form.password2 }}
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>

{% endblock %}
