{% if user.is_authenticated %}
<div class="navbar-form navbar-right">
    <a href="{% url 'blog_logout' %}" class="btn btn-danger">Logout</a>
    <a href="{% url 'profile' %}">Hello {{ user }}</a>
</div>
{% else %}
<form class="navbar-form navbar-right" method="POST" role="form" action="{% url 'blog_login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" placeholder="User" name="username" class="form-control">
        <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
    <a href="{% url 'registration_user' %}" class="btn btn-primary">Register</a>
</form>

{% endif %}
